

@model NewBooktel.Models.Room

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Add New Room";
}


    <h1 class="mb-4">Add New Room</h1>

    <form asp-action="AddRoom" method="post">
        <div class="mb-3">
            <label for="RoomType" class="form-label">Room Type</label>
            <input type="text" class="form-control" id="RoomType"  required />
        </div>
        <div class="mb-3">
            <label for="Price" class="form-label">Price</label>
            <input type="number" class="form-control" id="Price" asp-for="Price" required />
        </div>
        <div class="mb-3">
            <label for="MaxGuests" class="form-label">Max Guests</label>
            <input type="number" class="form-control" id="MaxGuests" a required />
        </div>
        <button type="submit" class="btn btn-success">Save Room</button>
    </form>

